{% extends 'base.html' %}
{% block mycontent %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow p-3">
                    <h3>{{data.title}}</h3>
                    <hr>
                    <p>{{data.text}}</p>
                    <hr>
                    <div>
                        <a href="{% url 'home-page' %}" class="btn btn-success mt-2">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}